.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  color: rgb(130, 62, 161);
}
.input {
  padding: 5px;
  border: 2mm ridge rgb(100, 149, 237, 0.6);
  border-radius: 4px;
  cursor: pointer;
  width: 400px;
}
.input:hover,
.input:focus {
  border: 2mm ridge rgb(130, 62, 161, 0.6);
  outline: none;
}
